<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>navbar}}

    <main>
        <h1>Conoce a los participantes</h1>


        <div class="container row w-100 mx-auto g-0 participantes">

            <div class="w-75 mx-auto">
                <form class="m-5 buscador" role="search" action="/skaterpark/filtrarParticipantes" method="GET"
                    onsubmit="console.log('Formulario enviado')">
                    <div class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search"
                            name="buscar" id="searchInput">
                        <button class="btn btn-actualizar" type="submit">Buscar</button>
                    </div>

                    <div class="opciones">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="busqueda" id="nombre" value="nombre"
                                checked>
                            <label class="form-check-label" for="nombre">nombre</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="busqueda" id="especialidad"
                                value="especialidad">
                            <label class="form-check-label" for="especialidad">especialidad</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="busqueda" id="anos_experiencia"
                                value="anos_experiencia">
                            <label class="form-check-label" for="anos_experiencia">años de experiencia</label>
                        </div>
                    </div>
                </form>
            </div>

            {{#if msg}}
            <div class="alert {{#if skaters.length}}alert-success{{else}}alert-warning{{/if}} text-center" role="alert">
                {{msg}}
            </div>
            {{/if}}


            {{#if skaters.length}}

            {{#each skaters}}
            <div class="card col-4 m-4" style="width: 30rem;">
                <img src="/{{this.foto}}" class="card-img-top img-fluid" alt="foto participante"
                    style="height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{this.nombre}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Años de experiencia: <span>{{this.anos_experiencia}}</span></li>
                    <li class="list-group-item">Especialidad: <span>{{this.especialidad}}</span></li>
                </ul>
            </div>
            {{/each}}

            {{else}}
            <p>No hay skaters registrados.</p>
            {{/if}}

        </div>

    </main>

    {{>footer}}
    {{>script}}
</body>

</html>