<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>navbar}}

    <main>
        <div class="skater container p-5 d-flex">
            <div class="foto-perfil">
                <img src="/{{skater.foto}}" alt="imagen de perfil de {{skater.nombre}}">
            </div>

            <div class="datos-skater">
                <h3>{{skater.nombre}}</h3>
                <h4>{{skater.email}}</h4>

                <ul>
                    <li>Años de experiencia: <span>{{skater.anos_experiencia}}</span></li>
                    <li>Especialidad: <span>{{skater.especialidad}}</span></li>
                </ul>

                <div class="d-flex solicitud">
                    <p>Estado de solicitud:</p>
                    <p id="estado" class="{{#if skater.estado}} aprobado {{else}} pendiente {{/if}}">
                        {{#if skater.estado}}
                        Aprobado
                        {{else}}
                        Pendiente
                        {{/if}}
                    </p>
                </div>


                <div>
                    <button class="btn-actualizar" type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#modalActualizar" data-id="{{skater.id}}" data-nombre="{{skater.nombre}}"
                        data-anos="{{skater.anos_experiencia}}" data-especialidad="{{skater.especialidad}}">
                        ACTUALIZAR DATOS
                    </button>

                    {{!-- <button class="btn-eliminar">ELIMINAR CUENTA</button> Considerar hacer un borrado lógico para
                    asi dejar al participante darse de baja --}}
                </div>
                <p class="cerrar-sesion" onclick="logout()">Cerrar sesión</p>

            </div>
    </main>

    <!-- Modal de Bootstrap -->
    <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="modalActualizarLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalActualizarLabel">Actualizar Datos</h5>
                </div>
                <div class="modal-body">
                    <form id="formActualizar" action="/skaterpark/skaters/actualizarSkater" method="post">

                        <input type="hidden" id="id" name="id">

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="anos_experiencia">Años de experiencia</label>
                            <input type="number" name="anos_experiencia" id="anos_experiencia" class="form-control"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="especialidad">Especialidad</label>
                            <select name="especialidad" id="especialidad" class="form-control" required>
                                <option value="" selected>Selecciona tu estilo</option>
                                <option value="freestyle">Freestyle</option>
                                <option value="street">Street</option>
                                <option value="vert">Vert</option>
                                <option value="park">Park</option>
                                <option value="bowl">Bowl</option>
                                <option value="downhill">Downhill</option>
                                <option value="cruising">Cruising</option>
                                <option value="longboard">Longboard</option>
                                <option value="slalom">Slalom</option>
                                <option value="freeride">Freeride</option>
                            </select>
                        </div>

                        <div>
                            <div class="mb-3 position-relative">
                                <label for="inputPassword" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="inputPassword" name="password"
                                    placeholder="Dejar vacío si no desea cambiarla">
                                <i class="fas fa-eye position-absolute" id="togglePassword"
                                    style="top: 78%; right: 10px; transform: translateY(-30%); cursor: pointer;"></i>
                            </div>

                            <!-- Repetir Contraseña -->
                            <div class="mb-3 position-relative">
                                <label for="inputConfirmPassword" class="form-label">Repetir Contraseña</label>
                                <input type="password" class="form-control" id="inputConfirmPassword"
                                    name="confirmPassword" placeholder="Dejar vacío si no desea cambiarla">
                                <i class="fas fa-eye position-absolute" id="toggleConfirmPassword"
                                    style="top: 78%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>
                            </div>
                        </div>

                        <div id="errorMsg" class="text-danger mb-3" style="display: none;"></div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-actualizar m-3">Guardar cambios</button>
                            <button type="button" class="btn btn-eliminar m-3" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    {{>footer}}

    {{>script}}
    <script src="/assets/js/modalSkater.js"></script>

</body>

</html>